.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

.placemat {
  background-color: brown;
  height: 500px;
  width: 800px;
}
